.block {
    background-color: #FFFFFF;
}

.transaction,
.block {
    border: solid 1px rgba(0, 0, 0, 0.05);

    box-sizing: border-box;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#main > .block .block-header > div {
    transition: all 500ms ease;
    box-sizing: border-box;
    height: 3.5em;
    flex-basis: 50%;
}
#main > .block .block-header > div:nth-child(2n+3) {
    padding-left: 15%;
    text-align: left;
}
#main > .block .block-header > div:nth-child(2n+4) {
    padding-right: 15%;
    text-align: right;
}

#main > .block .block-header > div.height {
    font-size: 2em;
    text-align: center;
    height: auto;
    margin-bottom: 0.25em;
    flex-grow: 2;
    flex-basis: 100%;
}
#main > .block .block-header > div.height > label {
    color: #303030;
}
#main > .block .block-header > div.height > .value {
    display: inline-block;
    margin-left: 0.25em;
}
#main > .block .block-header > div.hash {
    margin-bottom: 1em;
    flex-grow: 2;
    flex-basis: 100%;
}
#main > .block .block-header > div.hash > label {
    display: none;
}
#main > .block .block-header > div.hash > .value {
    font-size: 2em;
    margin: auto;
}
#main > .block .block-header > div.difficulty > .mask {
    display: none;
}
#main > .block .block-header > div.difficulty > .ratio > label {
    display: none !important;
}
#main > .block .block-header > div.byte-count { }
#main > .block .block-header > div.previous-block-hash {
    flex-grow: 2;
    flex-basis: 100%;
    padding: 0;
    text-align: center;
}
#main > .block .block-header > div.previous-block-hash > .value {
    margin: auto;
}

#main > .block .block-header > div.double {
    height: calc(7em + 0.5em);
}

.transaction .io .transaction-inputs::before,
.transaction .io .transaction-outputs::before,
.transaction::before,
.block::before {
    /* content: 'Block'; */
    color: #404040;
    font-weight: bold;
    font-size: 1.0em;
    margin-left: -1em;
    position: relative;
    top: 0.25em;
}

.transaction::before {
    content: none;
    color: #404040;
    transition: all 500ms ease;
}
.transaction .io .transaction-inputs::before {
    content: 'Transaction Inputs';
    margin-left: 0px;
    transition: all 500ms ease;
}
.transaction .io .transaction-outputs::before {
    content: 'Transaction Outputs';
    margin-left: 0px;
    transition: all 500ms ease;
}

.transaction .io {
    clear: both;
    width: calc(100% - 0.5em);
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.transaction .io .transaction-inputs,
.transaction .io .transaction-outputs {
    margin-top: 0.25em;
    overflow: auto;
    float: left;
    width: calc(48.5% - 0.5em);
    cursor: default;
}
.transaction .io .transaction-outputs {
    margin-left: calc(5% - 2em);
}
.transaction .io img.tx-arrow {
    width: 1.75em;
    opacity: 0.75;
    position: absolute;
    top: calc(50% + 0.875em);
    left: calc(50% - 0.25em);
    transform: translate(-50%, -50%);
}

.transaction .io .transaction-inputs > div,
.transaction .io .transaction-outputs > div {
    margin-top: 0.5em;
    margin-left: 1em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    box-sizing: border-box;
    transition: all 500ms ease;
}

.transaction .io .transaction-input > .label,
.transaction .io .transaction-output > .label {
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;
    overflow: auto;
    padding: 0.5em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    font-size: 0.75em;
    cursor: pointer;
}

.transaction .io .transaction-input > div:not(:first-child),
.transaction .io .transaction-output> div:not(:first-child) {
    display: none;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-left: 1em;
    margin-right: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5em;
}

.transaction .io .transaction-input > div:last-child:not(:first-child),
.transaction .io .transaction-output > div:last-child:not(:first-child) {
    margin-bottom: 1em;
}


.transaction .io .transaction-input .unlocking-script .script .script-operation > .value,
.transaction .io .transaction-output .locking-script .script .script-operation > .value {
    font-size: 0.8em;
    word-wrap: break-word;
    margin-left: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5em;
    margin-right: 0.5em;

    padding-left: 1.5em;
    text-indent: -0.75em;

    display: block;
    word-break: break-word;
}

.transaction .io .transaction-input > .label .address,
.transaction .io .transaction-output > .label .address {
    color: #262626;
    font-size: 1.0em;
}

.transaction .io .transaction-input > .label .amount,
.transaction .io .transaction-output > .label .amount {
    float: right;
    color: #505050;
    font-weight: bold;
    padding-right: 0.5em;
}

.transaction .io .transaction-input > .label .token-amount,
.transaction .io .transaction-output > .label .token-amount {
    background-color: #1AB325;
    border: solid 1px #0F6115;
    padding-left: 0.5em;
    padding-right: 0.5em;
    clear: both;
    float: right;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    display: none;
}
.transaction .io .transaction-input.slp > .label .token-amount,
.transaction .io .transaction-output.slp > .label .token-amount {
    display: block;
}
.transaction .io .transaction-input > .label .token-amount > .token-name,
.transaction .io .transaction-output > .label .token-amount > .token-name {
    padding-left: 0.25em;
}

.transaction > div,
.block .block-header {
    box-sizing: border-box;
    overflow: auto;
    margin: auto;
    background-color: #FFFFFF;
    padding: 1em;
}

#announcements .transaction > div:not(.hash) {
    display: none;
}
#announcements .transaction > div.hash,
#announcements .block .block-header {
    padding: 0;
    margin-top: 0.5em;
    box-shadow: none;
    display: block;
}

.block .block-header {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.transaction .hash > label,
.transaction .block-hashes > label {
    font-weight: bold;
}

.transaction .hash > label.slp-transaction {
    color: #1AB326;
}
.transaction .hash > label.slp-transaction.invalid {
    color: #F7931D;
}

.transaction div > label,
.block .block-header div label {
    display: inline-block;
    box-sizing: border-box;
    font-size: 0.75em;
    color: #AAAAAA;
}

.transaction > div > div .value,
.block .block-header div .value {
    display: block;
    box-sizing: border-box;
    margin-top: 0.25em;
}

.value.fixed {
    /* Formerly block; table facilitates hash-resizing while still on a newline from its label. */
    display: table !important;
}

.block .block-header div.timestamp .value::after {
    /* content: '(UTC)'; */
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.block .block-header div.reward .value::after {
    content: '(bitcoin)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.transaction .hash .value {
    display: inline-block !important;
    margin-left: 1em;
    vertical-align: text-bottom;
}

.transaction div div.fee .value::after,
.transaction div div.byte-count .value::after,
.block .block-header div.byte-count .value::after {
    content: '\A(bytes)';
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-size: 25%;
    display: block;
}

.transaction div div.fee .value::after {
    content: '\A(satoshis)';
}

.transaction div div.block-hashes div.value span {
    display: block;
}

.block .block-header div.difficulty {
    float: right;
}

.script > .value {
    margin-left: 0 !important;
    margin-right: 0 !important;

    padding-left: 0 !important;
    padding-right: 0 !important;
}

.transaction .io .transaction-input .unlocking-script > div > label,
.transaction .io .transaction-output .locking-script > div > label,
.transaction-input div.unlocking-script div label,
.transaction-input div.sequence-number div label,
.transaction div div.lock-time div label,
.block .block-header div.difficulty div label {
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0.2em;
}

.block .block-header div.transaction-count {
    /* display: none; */
}

.transaction .io .unlocking-script > div > .value,
.transaction .io .locking-script > div > .value {
    margin-left: 0.5em;
}

.is-disabled span.value,
.type span.value {
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
}

.transaction {
    transition: all 500ms ease;
    transition: opacity 500ms ease;

    background-color: #FFFFFF;
    border: solid 1px #AAAAAA;
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    position: relative;
}

.transaction.collapsed {
    padding-bottom: 0px;
    cursor: pointer;
    border: solid 1px #EEEEEE;
}

.transaction.collapsed > .hash {
    margin-bottom: 0;
    padding: 0;
    padding-left: 1em;
}
.transaction.collapsed .hash .value {
    font-size: 1em;
}

.transaction.collapsed .io {
    padding-top: 0;
    margin-top: 1em;
}
.transaction.collapsed .io img.tx-arrow {
    display: none;
}

.transaction.collapsed .io .transaction-outputs::before, 
.transaction.collapsed .io .transaction-inputs::before,
.transaction.collapsed::before {
    opacity: 0;
    position: absolute;
}

.transaction.collapsed > div > div {
    width: calc(100% - 0.5em);
}

.transaction .floating-properties-container {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    vertical-align: top;
}

.transaction .floating-property {
    width: 90px;
    height: 90px;
    border-radius: 5em;
    padding: 0.5em;
    border: solid 1px #F0F0F0;
    text-align: center;
    margin-left: 10px;
    float: right;
    background-color: #FAFAFA;
    position: relative;
    box-sizing: border-box;
}
.transaction .floating-property label {
    font-weight: normal;
}
.transaction .floating-property .value {
    display: block;
    font-size: 150%;
}
.transaction .slp.floating-property .value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    line-height: 90px;
    font-size: 250%;
}
.transaction .slp.floating-property.oversized label {
    float: left;
    width: 100%;
}
.transaction .slp.floating-property.oversized .value {
    font-size: 150%;
}
.transaction .slp.floating-property {
    border-color: #0F6115;
    background-color: #1AB325;
    cursor: pointer;
    overflow: hidden;
}
.transaction .slp.floating-property.invalid {
    border-color: #962727;
    background-color: #FF3030;
    cursor: not-allowed;
}
.slp.floating-property.invalid::after {
    content: '\2215';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 150px;
    line-height: 95px;
    color: rgba(0, 0, 0, 0.5);
    transform: rotate(22deg);
}
.transaction .slp.floating-property > label {
    color: #303030;
}

.transaction.collapsed .memo,
.transaction.collapsed .slp-genesis {
    display: none;
}
.transaction .memo,
.transaction .slp-genesis {
    background-color: #F9F9F9;
    border: solid 1px #ECECEC;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.transaction .memo > div,
.transaction .slp-genesis > div {
    flex-basis: 50%;
    flex-grow: 1;
    box-sizing: border-box;
}
.transaction .slp-genesis > div.token-name > label,
.transaction .slp-genesis > div.token-id > label {
    display: none;
}
.transaction .slp-genesis > div.token-name,
.transaction .slp-genesis > div.token-id {
    flex-grow: 2;
    flex-basis: 100%;
    text-align: center;
    font-size: 133%;
}
.transaction .slp-genesis > div.token-id > .value {
    margin: auto;
}
.transaction .memo div.memo-icon {
    flex-grow: 2;
    flex-basis: 100%;
    margin-bottom: 0.5em;
}
.transaction .memo div.memo-icon img {
    height: 32px;
    border-radius: 4px;
}
.transaction .slp-genesis > div.token-name object,
.transaction .slp-genesis > div.token-name img {
    height: 32px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 4px;
}
.transaction .slp-genesis > div:nth-child(2) {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.transaction .slp-genesis > div:nth-child(2n+3) {
    padding-left: 15%;
    text-align: left;
}
.transaction .slp-genesis > div:nth-child(2n+4) {
    padding-right: 15%;
    text-align: right;
}

.transaction > .lock-time.floating-property {
    display: inline-block;
    border: solid 2px #F0F0F0;
    padding: 0.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.25em;
    color: #BBBBBB;
    border-radius: 5px;
    width: auto;
    height: auto;
}
.transaction > .lock-time > label {
    display: none;
}
.transaction > .lock-time > .img {
    color: #C0C0C0;
    margin-right: 0.25em;
    display: inline-block;
}
.transaction > .lock-time > .value {
    display: inline-block;
    font-size: 0.75em;
}

.transaction.collapsed > div > div {
    border: none;
    background-color: initial;
}

.transaction.collapsed .io .transaction-inputs,
.transaction.collapsed .io .transaction-outputs,
.transaction.collapsed .io .transaction-inputs > div,
.transaction.collapsed .io .transaction-outputs > div {
    margin-top: 0px;
}

.transaction.collapsed .io {
    margin-top: 0.5em;
}

.transaction.collapsed > div > div {
    padding: 0px;
    margin: 0px;
}

#main > .block .transactions-nav {
    display: block;
}
.block .transactions-nav {
    font-size: 1.25em;
    padding-top: 0.5em;
    text-align: center;
    margin-bottom: -1em;
    color: #00B512;
    display: none;
}
.block .transactions-nav .page-navigation {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.block .transactions-nav .page-navigation > a:hover {
    cursor: pointer;
}
.block .transactions-nav .page-navigation > * {
    border: solid 1px;
    border-color: #CCCCCC;
    width: 1.5em;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    margin-left: -1px;
    color: #858585;
    position: relative;
    z-index: 1;
}
.block .transactions-nav .page-navigation > *:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.block .transactions-nav .page-navigation > *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.block .transactions-nav .page-navigation > *:hover {
    background-color: #C7FFD5;
}
.block .transactions-nav .page-navigation > a.current {
    font-size: 1.1em;
    font-weight: bold;
    border: solid 2px #606060;
    z-index: 2;
}
.block .transactions-nav .page-navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block .transactions .transaction:hover {
    box-shadow: 0px 0px 2px #00B512;
}

.transaction-output > .label.highlight {
    border-color: #1BAB1B !important;
}
.transaction-output .address.highlight {
    color: #1BAB1B !important;
}

.transaction-input > .label.highlight {
    border-color: #AB1B1B !important;
}
.transaction-input .address.highlight {
    color: #AB1B1B !important;
}

.transaction:not(.collapsed) .double-spend-warning {
    margin-top: 1em;
}
.transaction .double-spend-warning {
    display: inline-block;
    color: #EE0000;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 0.15em;
}

.address .address-metadata {
    margin-top: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: solid 1px #AAA;
    margin: 1em;
    background-color: #FFFFFF;
}

.address-metadata .address {
    font-size: 125%;
    font-weight: bold;
    display: block;
}

.address-metadata .address-balance {
    margin-top: 0.5em;
    display: block;
}
.address-metadata .address-balance::before {
    content: 'Balance:';
    color: #BBBBBB;
    font-size: 0.95em;
    margin-right: 0.5em;
    display: inline-block;
    font-weight: bold;
}

.address-metadata .address-balance::after {
    content: '(satoshis)';
    font-size: 0.75em;
    color: #BBBBBB;
    margin-left: 0.5em;
    font-style: italic;
}

.address-metadata .qr-code {
    float: right;
}

.recent-transactions .transaction > .hash > label {
    display: none;
}
.recent-transactions .transaction .double-spend-warning {
    display: none !important;
}

.block > .block-header div.merkle-root:nth-child(2n) .value.fixed,
.transaction .slp-genesis > div.document-hash:nth-child(2n) .value.fixed {
    margin-left: auto;
}

@media only screen and (max-width: 1100px) {
    .block,
    .transaction {
        margin-left: 0;
        margin-right: 0;

        padding-left: 0;
        padding-right: 0;
    }

    .transaction .io .transaction-inputs::before,
    .transaction .io .transaction-outputs::before,
    .transaction::before, .block::before {
        margin-left: 0;
    }
}

@media only screen and (max-width: 960px) {
    .block .block-header > div {
        width: calc(100% - 0.5em);
    }

    .transaction .floating-properties-container {
        position: relative;
        display: flex;
    }
    .transaction .floating-properties-container .floating-property {
        flex-grow: 1;
        border-radius: 5px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .transaction .io {
        text-align: center;
    }

    .transaction .io img.tx-arrow {
        position: initial;
        transform: initial;
        top: initial;
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        float: initial;
        transform: rotateZ(90deg);
    }

    .transaction.collapsed .io img.tx-arrow {
        display: inline-block;
    }

    .transaction .io .transaction-inputs,
    .transaction .io .transaction-outputs {
        float: none;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .transaction .io .transaction-inputs .transaction-input,
    .transaction .io .transaction-outputs .transaction-output {
        margin-bottom: 1px;
    }
}

@media only screen and (max-width: 700px) {
    .address .address-metadata {
        text-align: center;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .address .address-metadata .address {
        font-size: 100%;
    }

    .address-metadata .qr-code {
        float: none;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .transaction > div > div .value,
    .block .block-header div .value {
        margin: auto;
    }

    .transaction > div > div,
    .block .block-header > div {
        width: auto;
        float: none !important;
        overflow-x: hidden;
    }

    #main > .block .block-header > div:nth-child(n+3) {
        flex-basis: 100%;
        padding: 0px;
        text-align: left;
    }
}

