<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="Verde Bitcoin">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/verde-bitcoin.log" filePattern="logs/verde-bitcoin-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="90"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>