#main .address {
}

.button {
    border-radius: 1em;
    padding: 0.5em;
    border: solid 2px #262626;
    background-color: #F7931D;
    display: inline-block;
    cursor: pointer;
    color: #262626;
}

.button:hover {
    background-color: #FD9A26;
    border-color: #363636;
}

.documentation {
    margin: 1em;
}

#announcements {
    margin: auto;
    text-align: center;
}

.recent-blocks,
.recent-transactions {
    display: inline-block;
    margin: 2em;
    box-sizing: border-box;
    /* width: calc(50% - 6em); */
    border: solid 1px #AAAAAA;
    vertical-align: top;
    padding: 0.5em;
    padding-bottom: 0.75em;
    padding-right: 0.75em;
    min-height: 21em;
    min-width: 36em;
    background: #FFFFFF;
    color: #262626;
}

.recent-blocks::before,
.recent-transactions::before {
    display: block;
    background-color: #FFFFFF;
    color: #8e8e8e;
    font-weight: bold;
    text-align: left;
    padding: 0.25em;
    margin: -0.5em;
    margin-right: -0.75em;
    margin-bottom: 0em;
    padding: 1em;
    background-color: #F3F3F3;
    border-bottom: solid 1px #dedede;
}

.recent-blocks::before {
    content: 'Recent Blocks';
}
.recent-transactions::before {
    content: 'Recent Transactions';
}

.recent-transactions .transaction::before,
.recent-transactions .transaction .hash span.value::before,
.recent-blocks .block::before {
    content: '' !important;
    display: none !important;
}

.recent-transactions .transaction,
.recent-blocks .block {
    background-color: unset;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
}

.recent-blocks .block .block-header > div,
.recent-blocks .block .transactions {
    display: none;
}

.recent-blocks .block .block-header > div.hash {
    display: block;
    width: auto;
    background-color: unset;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 1.25em;
}

.recent-blocks .block .block-header > div.hash label {
    display: none;
}
.recent-blocks .block .block-header div .value {
    margin-top: 0;
}

.recent-transactions .transaction > div > div {
    display: none;
}
.recent-transactions .transaction > div > div.hash {
    display: block;
}
.recent-transactions .transaction .io {
    display: none;
}

.centered-content {
    text-align: center;
}

.bounded-content {
    display: inline-block;
}

.post-transaction {
    margin: auto;
    box-sizing: border-box;
    border: solid 1px #AAAAAA;
    vertical-align: top;
    padding: 0.5em;
    min-width: 36em;
    background: #FFFFFF;
    color: #262626;
    text-align: center;
    display: inline-flex;
    align-items: stretch;
    flex-direction: row;
    align-content: stretch;
    margin: 2em;
    width: calc(100% - 4em);
}

.post-transaction #post-transaction-button {
    background-color: #F99200;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 0;
    cursor: pointer;
}

.post-transaction #post-transaction-input {
    border: solid 1px #AAAAAA;
    background-color: #FFFFFF;
    font-family: monospace;
    text-align: left;
    font-size: 150%;
    padding: 0.5em;
    border-left: 0;
    box-sizing: border-box;
    flex-grow: 1;
}

@media only screen and (max-width: 1300px) {
    .post-transaction {
        width: 50%;
    }
}

@media only screen and (max-width: 1100px) {
    .bounded-content {
        display: block;
    }

    .post-transaction {
        width: unset;
    }
}

@media only screen and (max-width: 960px) { }

@media only screen and (max-width: 800px) { }

@media only screen and (max-width: 700px) { }

@media only screen and (max-width: 600px) {
    .recent-blocks,
    .recent-transactions {
        min-width: unset;
        width: auto;
        margin: 0.5em;
        overflow-x: scroll;
        display: block;
    }

    .post-transaction {
        width: calc(100% - 1em);
        margin: 0.5em;
        flex-direction: column-reverse;
        min-width: unset;
    }

    .post-transaction #post-transaction-input {
        margin-bottom: 0.5em;
        border-left: inherit;
    }
}

