#templates {
    display: none;
}

#main .status-container {
    width: 90%;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    background: #FAFAFA;
    overflow: hidden;
}

#main .status-container * {
    transition: all 500ms ease;
}

#main .status-container .status {
    background-color: #202020;
    margin: -1em;
    margin-bottom: 1em;
    padding: 1em;
    color: #FFFFFF;
    border-bottom: solid 2px #F99300;
}

#main .status-container .status div {
    display: inline-block;
}

#main .status-container .status .status-label {
    font-weight: bold;
}
#main .status-container .status .status-value {
    border: solid 1px;
    background-color: #B32626;
    padding: 0.25em;
    font-weight: bold;
    float: right;
    margin-top: -0.25em;
}

.sync-progress-container {
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
}

.sync-progress-container .blocks {
    position: absolute;
    top: 0;
    left: 1em;
}

.sync-progress-container .block-headers {
    position: absolute;
    right: 1em;
    top: 0;
    text-align: right;
}

.sync-progress-container div div {
    font-size: 75%;
}

.sync-progress-container .percent-done-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 1em;
    width: auto;
    position: absolute;
    overflow: hidden;
    font-size: 75%;
    font-weight: bold;
}

.sync-progress-container .progress-bar {
    height: 1em;
    border: solid 1px #202020;
    overflow: hidden;
    background-color: #BBBBBB;
}

.sync-progress-container .progress-bar div.progress-done {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #1AB326;
    border-right: solid 1px #009900;
    width: 0%;
}

.sync-progress-container .blocks div:nth-child(2),
.sync-progress-container .block-headers div:nth-child(2) {
    margin-top: 1.75em;
}

.statistics {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-bottom: 2em;
    border-top: solid 1px #F0F0F0;
    border-left: solid 1px #F0F0F0;
    text-align: center;
    padding-bottom: 1em;
}

.statistics > div {
    border: solid 2px #CCCCCC;
    border-top: solid 1px #F0F0F0;
    border-left: solid 1px #F0F0F0;
    padding: 1em;
    margin: 2em;
    display: inline-block;
    width: calc(33% - 4em);
    box-sizing: border-box;
    min-width: 250px;
    vertical-align: top;
}

.statistics .server-memory .server-memory-bar,
.statistics .server-load .server-load-bar,
.statistics .utxo-cache .utxo-cache-bar {
    width: 100%;
    margin: auto;
    height: 1em;
    border: solid 1px #BBBBBB;
    box-shadow: none;
    position: relative;
    background: #EEEEEE;
    height: 1.5em;
}

.statistics .server-memory .server-memory-fill,
.statistics .server-load .server-load-fill,
.statistics .utxo-cache .utxo-cache-fill {
    background: #F99300;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
}

.server-load::before {
    content: "Server Load";
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.statistics .service-statuses {
    width: auto;
    margin-bottom: 2em;
    border-spacing: 1em;
    border-collapse: separate;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statistics .service-statuses > div {
    background-color: #B31A26;
    color: #FFFFFF;
    border: solid 1px #202020;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 1;
}

.statistics .service-statuses div.service-active {
    background-color: #1AB326;
}

.server-memory::before {
    content: "Server Memory";
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.utxo-cache::before {
    content: "Utxo Cache";
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.statistics .server-memory .server-memory-text,
.statistics .server-load .server-load-text,
.statistics .utxo-cache .utxo-cache-text {
    position: absolute;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

.block-headers-per-second::before {
    content: 'Headers Per Second:';
    margin-right: 1em;
}

.blocks-per-second::before {
    content: 'Blocks Per Second:';
    margin-right: 1em;
}

.transactions-per-second::before {
    content: 'Transactions Per Second:';
    margin-right: 1em;
}

.nodes {
    text-align: center;
}

.nodes > div {
    text-align: initial;
}

.node {
    display: inline-block;
    border-radius: 1em;
    border: solid 1px #C0C0C0;
    padding: 1em;
    margin: 1em;
    font-size: 75%;
    box-shadow: 5px 5px 5px #E0E0E0;
    width: calc(20% - 2em);
    min-width: 300px;
    box-sizing: border-box;
}

.node .id {
    float: right;
    padding: 0.15em;
    background-color: #F0F0F0;
    border-bottom: solid 1px #D0D0D0;
    height: 1.5em;
    line-height: 1.5em;
}

.node .user-agent {
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.15em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #D0D0D0;
    background-color: #F0F0F0;
    font-weight: bold;
}

.node .host,
.node .local-host {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.node .port,
.node .local-port {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1em;
    float: right;
}

.node.preferred .user-agent::before {
    content: "\2B50" / "Preferred Node";
    margin-right: 0.25em;
    margin-left: 0.25em;
    min-width: auto;
    display: initial;
}

.node .host::before,
.node .local-host::before {
    content: 'Host:';
    margin-right: 1em;
    font-weight: bold;
    min-width: auto;
    display: initial;
}

.node .port::before,
.node .local-port::before {
    content: 'Port:';
    margin-right: 1em;
    font-weight: bold;
    width: auto;
    min-width: auto;
    display: initial;
}


.node .features {
    padding-left: 1em;
}
.node .features::before {
    content: 'Features:';
    margin-left: -1em;
}
.node .features div {
    font-family: consolas, monospace;
    font-size: 0.75em;
}

.node ::before {
    min-width: 50%;
    display: inline-block;
}

.node .features div label.disabled {
    text-decoration: line-through;
}

.node > div:nth-child(2n+5) {
    background-color: rgba(0, 0, 0, 0.05);
}

.node .block-height::before {
    content: 'Block Height:';
    margin-right: 1em;
    text-align: left;
}

.node .ping::before {
    content: 'Ping:';
    margin-right: 1em;
    text-align: left;
}

.node .network-offset::before {
    content: 'Network Offset:';
    margin-right: 1em;
    text-align: left;
}

.node .handshake-complete::before {
    content: 'Handshake Complete:';
    margin-right: 1em;
}

.node .initialization-timestamp::before {
    content: 'Connected Timestamp:';
    margin-right: 1em;
}

.node .last-message-timestamp::before {
    content: 'Last Message Timestamp:';
    margin-right: 1em;
}

.node .local-host::before {
    content: 'Local Host:';
}

.node .local-port::before {
    content: 'Local Port:';
}

.node .local-host,
.node .local-port {
    display: none;
}

.nodes .node .initialization-timestamp,
.nodes .node .last-message-timestamp {
    white-space: nowrap;
    font-size: 95%;
}

@media only screen and (max-width: 960px) {
    .statistics {
        padding-top: 1em;
    }

    .statistics > div {
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 1em;
        vertical-align: top;
    }
}

@media only screen and (max-width: 320px) {
    #main .status-container {
        width: auto;
        border-radius: 0;
    }

    .statistics {
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
    }

    .node {
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
    }
}

