.navigation ul {
    margin: 0px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.transaction .block-hashes {
    display: none !important;
}

h1 {
    padding-left: 1em;
    text-align: center;
}

#pool-hash-rate::after {
    content: 'h/s';
    padding-left: 0.5em;
    color: rgba(0, 0, 0, 0.33);
    font-size: 0.5em;
    vertical-align: text-top;
}

#pool-hash-rate.kilo::after { content: 'kH/s'; }
#pool-hash-rate.mega::after { content: 'MH/s'; }
#pool-hash-rate.giga::after { content: 'GH/s'; }
#pool-hash-rate.tera::after { content: 'TH/s'; }
#pool-hash-rate.peta::after { content: 'PH/s'; }
#pool-hash-rate.exa::after { content: 'EH/s'; }


@media only screen and (max-width: 500px) {
    h1 {
        position: relative;
        text-align: center;
        padding-left: 1.33em;
    }
    h1 > i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5em;
    }
}
