html, body {
    min-height: 100vh;
}
#main {
    min-height: calc(100vh - 100px);
    position: relative;
}

h1 {
    text-align: center;
    width: 75vw;
}

#blockchain-metadata {
    width: 75vw;
    height: 50vh;
    margin: 0;
    margin-top: 2em;
    overflow: hidden;
    box-sizing: border-box;
}

#blockchain-metadata-details {
    width: 25vw;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    
}

#blockchain-metadata-details div::before {
    margin-right: 0.5em;
    display: inline-block;
    width: 10em;
    font-weight: bold;
    font-size: 75%;
}

#blockchain-metadata-details .blockchain-segment-id.empty::before {
    content: '';
}
#blockchain-metadata-details .blockchain-segment-id::before {
    content: 'ID:';
    width: auto;
}
#blockchain-metadata-details .blockchain-segment-id {
    text-align: center;
    margin-bottom: 1em;
}

#blockchain-metadata-details .blockchain-segment-block-count.empty::before {
    content: '';
}
#blockchain-metadata-details .blockchain-segment-block-count::before {
    content: 'Block Count:';
}
#blockchain-metadata-details .blockchain-segment-block-count { }

#blockchain-metadata-details .blockchain-segment-min-height.empty::before {
    content: '';
}
#blockchain-metadata-details .blockchain-segment-min-height::before {
    content: 'Min Block Height: #';
}
#blockchain-metadata-details .blockchain-segment-min-height {
    cursor: pointer;
}

#blockchain-metadata-details .blockchain-segment-max-height.empty::before {
    content: '';
}
#blockchain-metadata-details .blockchain-segment-max-height::before {
    content: 'Max Block Height: #';
}
#blockchain-metadata-details .blockchain-segment-max-height {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    #blockchain-metadata-details .blockchain-segment-id::before {
        content: 'Id:' !important;
    }
    #blockchain-metadata-details .blockchain-segment-block-count::before {
        content: 'Count:' !important;
    }
    #blockchain-metadata-details .blockchain-segment-min-height::before {
        content: 'Min Height:' !important;
    }
    #blockchain-metadata-details .blockchain-segment-max-height::before {
        content: 'Max Height:' !important;
    }

    #blockchain-metadata-details {
        position: initial;
        width: auto;
        float: none;
        height: auto;
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1em !important;
        justify-content: space-between;
    }

    #blockchain-metadata-details div {
        margin: 0;
        width: 50%;
        box-sizing: border-box;
        white-space: nowrap;
        word-break: keep-all;
        overflow-x: hidden;
    }

    #blockchain-metadata-details div::before {
        font-size: 0.8em !important;
        font-family: 'Bree Serif', serif;
        font-weight: normal !important;
        width: auto;
        text-overflow: ellipsis;
    }

    #blockchain-metadata-details .blockchain-segment-id {
        text-align: left;
        margin-bottom: 0;
    }

    #blockchain-metadata {
        width: 99vw;
        border-radius: 0;
    }

    h1 {
        width: auto;
    }
}
