#header {
    background-color: #262626;
    min-height: 100px;
    overflow: auto;
    padding-bottom: 0.5em;
    box-shadow: 0 0 2px 2px #000000;
    padding-top: 0.2em;
}

#header .navigation {
    float: left;
}

#header .navigation {
    float: left;
}

#header .navigation ul {
    float: left;
    display: block;
    margin: 0px;
}

#header .navigation ul li {
    list-style: none;
    float: left;
    line-height: 2em;
    text-align: center;
    min-width: 100px;
    color: #EEEEEE;
    font-weight: bold;
    cursor: pointer;
    padding-top: 1.4em;
}

#header .navigation ul li:hover {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}

#header .brand .logo {
    width: 20em;
    margin: 0.25em;
    float: left;
}

#header .brand .title {
    color: #EEEEEE;
    font-size: 1.5em;
    float: left;
    margin-top: 0.88em;
    margin-left: 0.1em;
}

#header .search {
    float: left;
    clear: left;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#header .search #search {
    width: 42em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-bottom: solid 2px #F7931D;
    color: #F7931D;
    text-transform: uppercase;
    float: left;
}

#header .search #search:focus {
    outline: solid 2px #F7931D;
}

#header .search .loading {
    height: 2em;
    margin-left: 1em;
    float: left;
    margin-top: 0.25em;
    visibility: hidden;
}

#header input:-webkit-autofill,
#header input:-webkit-autofill:hover, 
#header input:-webkit-autofill:focus {
    border: solid 1px #F7931D;
    -webkit-text-fill-color: #F7931D;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.15) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.transaction,
.block {
    background-color: rgba(0, 0, 0, 0.05);
    overflow: auto;

    box-sizing: border-box;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.transaction .io .transaction-inputs:before,
.transaction .io .transaction-outputs:before,
.transaction:before,
.block:before {
    content: 'Block';
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: -1em;
    position: relative;
    top: 0.25em;
}

.transaction:before {
    content: 'Transaction';
}
.transaction .io .transaction-inputs:before {
    content: 'Transaction Inputs';
    margin-left: 0px;
}
.transaction .io .transaction-outputs:before {
    content: 'Transaction Outputs';
    margin-left: 0px;
}

.transaction .io {
    clear: both;
    width: calc(100% - 0.5em);
}

.transaction .io .transaction-inputs,
.transaction .io .transaction-outputs {
    margin-top: 0.25em;
    overflow: auto;
    float: left;
    width: calc(50% - 0.5em);
}

.transaction .io .transaction-inputs > div,
.transaction .io .transaction-outputs > div {
    margin-top: 0.5em;
    margin-left: 1em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    box-sizing: border-box;
}

.transaction .io .transaction-input > .label {
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;
    overflow: auto;
    padding: 0.5em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    font-size: 0.75em;
    cursor: pointer;
}

.transaction .io .transaction-input > div:not(:first-child) {
    display: none;
    margin-left: 1em;
}

.transaction .io .transaction-input > div:last-child:not(:first-child) {
    margin-bottom: 1em;
}


.transaction .io .transaction-input .unlocking-script .operations > .value .script-operation > .value {
    font-size: 0.8em;
    word-wrap: break-word;
    margin-left: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5em;
    margin-right: 0.5em;

    padding-left: 1.5em;
    text-indent: -0.75em;
}

.transaction .io .transaction-input > .label .address {
    float: left;
    color: #262626;
}
.transaction .io .transaction-input > .label .amount {
    float: right;
    color: #505050
}

.transaction > div,
.block .block-header {
    box-sizing: border-box;
    overflow: auto;
    margin-top: 0.25em;
}

.transaction > div > div,
.block .block-header > div {
    padding: 0.25em;
    margin: 0.25em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    float: left;
    width: calc(50% - 0.5em);
    box-sizing: border-box;
}

.transaction > div > div label,
.block .block-header div label {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
    color: #404040;
}

.transaction > div > div .value,
.block .block-header div .value {
    display: block;
    box-sizing: border-box;
    padding-left: 1em;
    margin-top: 0.25em;
}

.block .block-header div.timestamp .value:after {
    content: '(UTC)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.block .block-header div.reward .value:after {
    content: '(bitcoin)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.transaction div div.byte-count .value:after,
.block .block-header div.byte-count .value:after {
    content: '(bytes)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.clickable:hover {
    cursor: pointer;
    color: #F7931D;
}

.transaction div div.block-hashes div.value span {
    display: block;
}

.block .block-header div.difficulty {
    float: right;
}

.transaction div div.lock-time div label,
.block .block-header div.difficulty div label {
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
}

.block .block-header div {
    transition: all 500ms ease;
}


#templates {
    display: none;
}

.fixed {
    font-family: monospace;
    overflow-x: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.fixed::-webkit-scrollbar { 
    display: none;
}

@media only screen and (max-width: 960px) {
    .block .block-header > div {
        width: calc(100% - 0.5em);
    }
}
