
.transaction,
.block {
    background-color: rgba(0, 0, 0, 0.05);
    overflow: auto;

    box-sizing: border-box;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.transaction .io .transaction-inputs:before,
.transaction .io .transaction-outputs:before,
.transaction:before,
.block:before {
    content: 'Block';
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: -1em;
    position: relative;
    top: 0.25em;
}

.transaction:before {
    content: 'Transaction';
}
.transaction .io .transaction-inputs:before {
    content: 'Transaction Inputs';
    margin-left: 0px;
}
.transaction .io .transaction-outputs:before {
    content: 'Transaction Outputs';
    margin-left: 0px;
}

.transaction .io {
    clear: both;
    width: calc(100% - 0.5em);
    position: relative;
}

.transaction .io .transaction-inputs,
.transaction .io .transaction-outputs {
    margin-top: 0.25em;
    overflow: auto;
    float: left;
    width: calc(48.5% - 0.5em);
}
.transaction .io .transaction-outputs {
    margin-left: calc(5% - 1.5em);
}
.transaction .io img.tx-arrow {
    width: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-1em);
    margin-left: calc(2.5% - 1.5em);
    opacity: 0.75;
}
.transaction .io .transaction-component-separator img {
    position: absolute;
    width: 4em;
    top: 50%;
    transform: translate-y(-2em);
}

.transaction .io .transaction-inputs > div,
.transaction .io .transaction-outputs > div {
    margin-top: 0.5em;
    margin-left: 1em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    box-sizing: border-box;
    transition: all 500ms ease;
}

.transaction .io .transaction-input > .label,
.transaction .io .transaction-output > .label {
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;
    overflow: auto;
    padding: 0.5em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    font-size: 0.75em;
    cursor: pointer;
}

.transaction .io .transaction-input > div:not(:first-child),
.transaction .io .transaction-output> div:not(:first-child) {
    display: none;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-left: 1em;
    margin-right: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5em;
}

.transaction .io .transaction-input > div:last-child:not(:first-child),
.transaction .io .transaction-output > div:last-child:not(:first-child) {
    margin-bottom: 1em;
}


.transaction .io .transaction-input .unlocking-script .script .script-operation > .value,
.transaction .io .transaction-output .locking-script .script .script-operation > .value {
    font-size: 0.8em;
    word-wrap: break-word;
    margin-left: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5em;
    margin-right: 0.5em;

    padding-left: 1.5em;
    text-indent: -0.75em;
}

.transaction .io .transaction-input > .label .address,
.transaction .io .transaction-output > .label .address {
    float: left;
    color: #262626;
}

.transaction .io .transaction-input > .label .amount,
.transaction .io .transaction-output > .label .amount {
    float: right;
    color: #505050
}

.transaction > div,
.block .block-header {
    box-sizing: border-box;
    overflow: auto;
    margin-top: 0.25em;
}

.transaction > div > div,
.block .block-header > div {
    padding: 0.25em;
    margin: 0.25em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    float: left;
    width: calc(50% - 0.5em);
    box-sizing: border-box;
}

.transaction div > label,
.block .block-header div label {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
    color: #404040;
}

.transaction > div > div .value,
.block .block-header div .value {
    display: block;
    box-sizing: border-box;
    padding-left: 1em;
    margin-top: 0.25em;
}

.block .block-header div.timestamp .value:after {
    content: '(UTC)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.block .block-header div.reward .value:after {
    content: '(bitcoin)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.transaction div div.fee .value:after,
.transaction div div.byte-count .value:after,
.block .block-header div.byte-count .value:after {
    content: '(bytes)';
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.5em;
    font-style: italic;
}

.transaction div div.fee .value:after {
    content: '(satoshis)';
}

.transaction div div.block-hashes {
    min-height: 7.75em;
}

.transaction div div.lock-time div {
}

.transaction div div.block-hashes div.value span {
    display: block;
}

.block .block-header div.difficulty {
    float: right;
}

.block .block-header div.difficulty label {
    font-size: 1.00em !important;
    height: 1.175em !important;
}

.transaction .io .transaction-input .unlocking-script > div > label,
.transaction .io .transaction-output .locking-script > div > label,
.transaction-input div.unlocking-script div label,
.transaction-input div.sequence-number div label,
.transaction div div.lock-time div label,
.block .block-header div.difficulty div label {
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    margin-top: 0.2em;
}

.block .block-header div.transaction-count {
    display: none;
}

.transaction .io .unlocking-script > div > .value,
.transaction .io .locking-script > div > .value {
    margin-left: 0.5em;
}

.block .block-header div {
    transition: all 500ms ease;
}

@media only screen and (max-width: 960px) {
    .block .block-header > div {
        width: calc(100% - 0.5em);
    }
}
