.block .transactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block .transaction.collapsed {
    margin: auto;
    padding: 0;
    flex-grow: 1;
}

.transaction.collapsed .hash span.value::before {
    display: none;
}

.block .transaction.collapsed .io {
    display: none;
}

.block .transaction.collapsed > div > div {
    padding: 0.25em;
    margin: 0.25em;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.025);
    box-sizing: border-box;
}

.transaction.collapsed .hash .value {
    margin: auto;
}

.transaction:first-child {
    flex-basis: 100%;
    margin-top: 0.5em;
}

.transaction:not(.collapsed):first-child {
    background-color: rgba(255, 255, 255, 0.33);
    border: solid 1px #C1C1C1;
}

.transaction.collapsed:first-child .hash {
    background-color: rgba(255, 255, 255, 0.33);
    border: solid 1px #C1C1C1;
}


.transaction:first-child::before {
    content: 'Coinbase Transaction:';
}

.transaction:not(.collapsed) {
    display: block;
    flex-basis: 100%;
}
.block .transactions .transaction.collapsed:hover {
    box-shadow: none;
}

.block .block-header div.transaction-count {
    display: block;
    width: calc(100% - 0.5em);
}
