#main .status-container {
    width: 90%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    background: #FAFAFA;
    overflow: hidden;
}

#main .status-container .status {
    background-color: #202020;
    margin: -1em;
    margin-bottom: 1em;
    padding: 1em;
    color: #FFFFFF;
    border-bottom: solid 2px #F99300;
}

#main .status-container .status div {
    display: inline-block;
}

#main .status-container .status .status-label {
    font-weight: bold;
}
#main .status-container .status .status-value {
    border: solid 1px;
    background-color: #1AB326;
    padding: 0.25em;
    font-weight: bold;
    float: right;
    margin-top: -0.25em;
}

.sync-progress-container {
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
}

.sync-progress-container .blocks {
    position: absolute;
    top: 0;
    left: 1em;
}

.sync-progress-container .block-headers {
    position: absolute;
    right: 1em;
    top: 0;
    text-align: right;
}

.sync-progress-container div div {
    font-size: 75%;
}

.sync-progress-container .percent-done-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 1em;
    width: auto;
    position: absolute;
    overflow: hidden;
    font-size: 75%;
    font-weight: bold;
}

.sync-progress-container .progress-bar {
    height: 1em;
    border: solid 1px #202020;
    overflow: hidden;
    background-color: #BBBBBB;
}

.sync-progress-container .progress-bar div.progress-done {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #1AB326;
    border-right: solid 1px #009900;
    width: 0%;
}

.sync-progress-container .blocks div:nth-child(2),
.sync-progress-container .block-headers div:nth-child(2) {
    margin-top: 1.75em;
}

.statistics {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-bottom: 2em;
    border-top: solid 1px #F0F0F0;
    border-left: solid 1px #F0F0F0;
}

.statistics div {
    border: solid 2px #CCCCCC;
    border-top: solid 1px #F0F0F0;
    border-left: solid 1px #F0F0F0;
    padding: 1em;
    margin: 2em;
    display: inline-block;
    width: calc(33% - 4em);
    box-sizing: border-box;
}

.block-headers-per-second:before {
    content: 'Headers Per Second:';
    margin-right: 1em;
}

.blocks-per-second:before {
    content: 'Blocks Per Second:';
    margin-right: 1em;
}

.transactions-per-second:before {
    content: 'Transactions Per Second:';
    margin-right: 1em;
}

